In [104]:
#############################################               Set              ############################################################

In [183]:
day1={'sat','sun','mon','tues','sat'}

In [184]:
day2={'tues','wednes','fri','sat'}

In [185]:
day1   #no duplication

{'mon', 'sat', 'sun', 'tues'}

In [186]:
day2

{'fri', 'sat', 'tues', 'wednes'}

In [187]:
type(day1)

set

In [ ]:
#set doesnot support indexing

In [188]:
li= list(day1)

In [189]:
li

['sun', 'sat', 'tues', 'mon']

In [190]:
type(day1)

set

In [191]:
s= set(li)

In [192]:
s

{'mon', 'sat', 'sun', 'tues'}

In [193]:
day1.add("thurs")

In [194]:
day1

{'mon', 'sat', 'sun', 'thurs', 'tues'}

In [195]:
day1.remove("sun")

In [196]:
day1

{'mon', 'sat', 'thurs', 'tues'}

In [197]:
len(day1)

4

In [198]:
day1.intersection(day2)

{'sat', 'tues'}

In [199]:
day1.union(day2)

{'fri', 'mon', 'sat', 'thurs', 'tues', 'wednes'}

In [200]:
day1.difference(day2)

{'mon', 'thurs'}

In [205]:
day1.difference_update(day2)

In [206]:
day1

{'mon', 'thurs'}

In [236]:
##################################################            Dictionary            ######################################################

In [237]:
day3={}

In [238]:
type(day3)

dict

In [239]:
d={'name':"Bithi", 'age':22}

In [240]:
d

{'name': 'Bithi', 'age': 22}

In [241]:
d['name']

'Bithi'

In [242]:
d['dept']='CSE' #insert

In [243]:
d

{'name': 'Bithi', 'age': 22, 'dept': 'CSE'}

In [244]:
d['university']='MBSTU'

In [245]:
len(d)

4

In [246]:
for i in d:
    print(i)

name
age
dept
university

In [248]:
for i in d.values():
    print(i)

Bithi
22
CSE
MBSTU

In [249]:
for i in d.items():
    print(i)

('name', 'Bithi')
('age', 22)
('dept', 'CSE')
('university', 'MBSTU')

In [250]:
d.keys()

dict_keys(['name', 'age', 'dept', 'university'])

In [252]:
d.values()

dict_values(['Bithi', 22, 'CSE', 'MBSTU'])

In [251]:
d.items()

dict_items([('name', 'Bithi'), ('age', 22), ('dept', 'CSE'), ('university', 'MBSTU')])

In [256]:
d

{'name': 'Bithi', 'dept': 'CSE', 'university': 'MBSTU', 'age': 24}

In [257]:
d['age']=24

In [258]:
d

{'name': 'Bithi', 'dept': 'CSE', 'university': 'MBSTU', 'age': 24}

In [259]:
d.pop('age')

24

In [260]:
d

{'name': 'Bithi', 'dept': 'CSE', 'university': 'MBSTU'}

In [261]:
d1={'name':'Tithi'}

In [262]:
student = {'ID1':d,'ID2':d1}

In [263]:
student['ID1']

{'name': 'Bithi', 'dept': 'CSE', 'university': 'MBSTU'}

In [264]:
student['ID2']

{'name': 'Tithi'}

In [265]:
for x in student:
    print(x)

ID1
ID2

In [266]:
for x in student.items():
    print(x)

('ID1', {'name': 'Bithi', 'dept': 'CSE', 'university': 'MBSTU'})
('ID2', {'name': 'Tithi'})

In [267]:
##################################################            Tuple            ###########################################################

In [268]:
t=(1,2,"Bithi",5)

In [269]:
t

(1, 2, 'Bithi', 5)

In [270]:
t[2]

'Bithi'

In [271]:
t[2][1:4]

'ith'

In [273]:
len(t)

4

In [284]:
tp=t*2

In [ ]:
tp

In [285]:
#tuple is immutable

In [277]:
type(t)

tuple

In [279]:
t.index(5)

3

In [282]:
t.index("Bithi")

2

In [283]:
tp.count(5)

NameError: name 'tp' is not defined